#imagen-logo {
	width: auto;
	height: 30vh;
	background-color: #e2e2de;
	display: flex;
	align-items: center;
	justify-content: center;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.contenido {
	background-color: #fdf3e8;
	padding-top: 20px;
}

.btn-holder {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 10px;
	margin-bottom: 10px;
}

.noHover {
	pointer-events: none;
}

.btn-holder-ws {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 110px;
	margin-bottom: 10px;
}
