{% extends "website/layout.html" %}
{% load static %}

{% block head %}
<title>Hotel Manantial | Turismo</title>
{% endblock %}

{% block body %}

<div class="container">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
            <div class="card">
                <img src="{% static 'website/turismo/meseta-foto.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">La Meseta</h3>
                    <p class="card-text" style="text-align: justify;">Este complejo se encuentra en la parte alta de
                        Churín, a unos 400 metros de distancia del centro. Todas las piscinas se encuentran bajo
                        techo para evitar que los cambios bruscos de temperatura al cambiar de piscinas.</p>
                    <div class="text-center" style="padding-top: 20px;">
                        <a href="https://goo.gl/maps/4Nv1C2kuyQ22MHt26" target="_blank" class="btn btn-info">Abrir en
                            mapas</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="{% static 'website/turismo/foto-prueba1.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Complejo Mamahuarmi</h3>
                    <p class="card-text" style="text-align: justify;">Este es uno de los lugares más destacados de
                        Churín, ya que todas sus piscinas
                        se encuentran al aire libre, rodeadas de áreas verdes y piedras. Su nombre se debe a una leyenda
                        que involucra a un soldado español y a la hija del cacique de la población.</p>
                    <div class="text-center" style="padding-top: 20px;">
                        <a href="https://goo.gl/maps/gzNsxhg1evSApU7B8" target="_blank" class="btn btn-info">Abrir en
                            mapas</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="{% static 'website/turismo/juventud.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Complejo de La Juventud</h3>
                    <p class="card-text" style="text-align: justify;">El manantial "La Juventud", esta rodeado de
                        vegetación de molles y eucaliptos.
                        Cuenta con tres piscinas juntas y un potente chorro de aguas termales, que sirven para darse
                        masajes.
                        Estas aguas termo-medicinales que tienen una temperatura de 32 grados centígrados.</p>
                    <div class="text-center" style="padding-top: 20px;">
                        <a href="https://goo.gl/maps/xCZTTtWNpiCSgxd37" target="_blank" class="btn btn-info">Abrir en
                            mapas</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="{% static 'website/turismo/tingo.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Baños de Tingo</h3>
                    <p class="card-text" style="text-align: justify;">Sus aguas son de color marrón. Cuenta con 4
                        piscinas y servicio de sauna,
                        masajes y baños de barro. Se dice que sus aguas alivian enfermedades como: el reumatismo,
                        parálisis de cuerpo, males de la próstata, ovarios, entre otros. El precio de ingreso varía
                        entre 3 a 15 soles.</p>
                    <div class="text-center" style="padding-top: 20px;">
                        <a href="https://goo.gl/maps/ura25RBuqe9kE3xx9" target="_blank" class="btn btn-info">Abrir en
                            mapas</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="{% static 'website/turismo/huancahuasi.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Baños de Huancahuasi</h3>
                    <p class="card-text" style="text-align: justify;">A solo hora y media de Churin (33 km), se llega a
                        los baños termales de Huancahuasi ubicados a 3350 msnm. Estas
                        aguas son conocidas por aliviar el reumatismo y la artritis.</p>
                    <div class="text-center" style="padding-top: 20px;">
                        <a href="https://goo.gl/maps/TnBu7977Nfk65pha7" target="_blank" class="btn btn-info">Abrir en
                            mapas</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="{% static 'website/turismo/picoy.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Baños de Picoy</h3>
                    <p class="card-text" style="text-align: justify;"> Picoy cuenta con un área de baños termales de uso
                        general que comprende dos piscinas grandes y tres pozas techadas para uso privado.</p>
                    <div class="text-center" style="padding-top: 20px;">
                        <a href="https://goo.gl/maps/4KkrsJEz4FQhT9vK8" target="_blank" class="btn btn-info">Abrir en
                            mapas</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="{% static 'website/turismo/leondormido.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Nevado Raura</h3>
                    <p class="card-text" style="text-align: justify;">Este nevado que sobrepasan los 5000 metros de
                        altitud. Se caracteriza por tener picos de roca y
                        hielo, lagunas de increíbles colores (azul, verde y turquesa) y estrechos valles.</p>
                    <div class="text-center" style="padding-top: 20px;">
                        <a href="https://goo.gl/maps/ZULcUNUMSqAxD1wU6" target="_blank" class="btn btn-info">Abrir en
                            mapas</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}